* @jorenvandeweyer @PauwelsPieter @maartensijmkens @Kobe-Kwanten @wouterlms @Robbe95

.github/workflows @wisemen-digital/devops

/apps/api/ @jorenvandeweyer @PauwelsPieter @maartensijmkens @Kobe-Kwanten
/apps/web/ @wouterlms @Robbe95

/packages/api/ @jorenvandeweyer @PauwelsPieter @maartensijmkens @Kobe-Kwanten
/packages/web/ @wouterlms @Robbe95
